*.o
*.a
.in_place
.deps
*-x86-linux
*-x86-linux.so
*-amd64-linux
*-amd64-linux.so
.dirstamp

Makefile.vex.in

# generated things
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
glibc-2.X.supp
Makefile
Makefile.in
default.supp
depcomp
install-sh
missing
stamp-h1
valgrind.pc
valgrind.spec
